---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1>Login Page</h1>
  <a
    href="https://discord.com/oauth2/authorize?client_id=1319225068592824411&response_type=code&redirect_uri=https%3A%2F%2Fseijoscience.com%2Fredirect%26request%3Dlogin&scope=identify+guilds+email+guilds.join"
  ></a>
</Layout>
