---
const code = Astro.url.searchParams.get("code");
fetch("https://discordapp.com/api/oauth2/token", {
  method: "POST",
  body: new URLSearchParams({
    client_id: "1319225068592824411",
    client_secret: "4aTulOoL6WcEuUFr0k52cGDBWgRj2R3z",
    grant_type: "authorization_code",
    code: `${code}`,
    redirect_uri: "https://seijoscience.com/login/redirect",
  }),
}).then((Response) => {
  const auth = Response.text();
  console.info("[INFO]:" + auth);
});
---

<p>Redirecting...</p>
