---
import Layout from "../layouts/Layout.astro";
import Button from "../component/Button.svelte";
---

<Layout title="Top">
  <p>
    <span class="text-black font-urb font-bold text-5xl tracking-[-0.14em]"
      >S²C</span
    ><span class="text-black font-urb font-bold text-5xl tracking-tight"
      >{" "}Official Website</span
    >
  </p>
  <Button client:load />
  <code> let hoge = "fuga"; </code>
</Layout>
