---
import Layout from "../layouts/Layout.astro";
import Button from "../component/Button.svelte";
---

<Layout title="Top">
  <p class="text-black font-urb font-bold text-5xl tracking-tight">
    S²C Official Website
  </p>
  <Button client:load />
  <code> let hoge = "fuga"; </code>
</Layout>
