---
import Layout from "../layouts/Layout.astro";
import LoginModal from "../component/Login.svelte";
import Redirect from "./login/_redirect.svelte";
---

<Layout title="Entry">
  <h1>Login</h1>
  <LoginModal />
  <Redirect client:load />
  <p>aaa</p>
</Layout>
