---
import "../styles/global.css";
import "@fontsource-variable/urbanist";
import "@fontsource-variable/jetbrains-mono";
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | S²C Official</title>
  </head>
  <body>
    <div class="w-full lg:w-[1024px] lg:mx-auto font-urb">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  code {
    @apply font-jbm;
    @apply bg-gray-700;
    @apply text-gray-100;
  }
</style>
